 {% extends 'base.html' %} {% load static %} {% block content %}
<section class="ftco-about img ftco-section ftco-no-pt ftco-no-pb" id="about-section">
    <div class="container-fluid px-0">
        <div class="row d-flex">
            <div class="col-md-6 d-flex">
                <div class="img d-flex align-self-stretch align-items-center js-fullheight" style="background-image:url('/static/images/akhtar.jpg');">
                </div>
            </div>
            <div class="col-md-6 d-flex align-items-center">
                <div class="text px-4 pt-5 pt-md-0 px-md-4 pr-md-5 ftco-animate">
                    <h2 class="mb-4">I'm <span>Akhtaruzzaman Khan</span> a Software Engineer</h2>
                    <p> and I am 23 years old. I completed my secondary school from Tahfizul quranil karim Fazil madrasah in 2013. Then I completed my higher secondary from Dhaka city College in 2015. Then I started my under graduation program in North South
                        university in 2016. I completed my BSC in october 2020. In my under graduation life I completed several projects by myself like Nsu portal, Read it, Hospital management, Major crops yield prediction for Bangladesh using Machine
                        learning Algorithms. I am a self learner person. I believe in hard working and self learning is the best way to adopt any new technologies or platform. That’s why I develop very basic label app like Our-Blog, E-commerce etc using
                        Django framework. I did this only for learning purpose and also I feel comfort to program with python. On the other side I involve with some charity works. Currently I am a volunteer of Universal Help Hub which is non profitable
                        organizations. And I love playing cricket, Badminton and chess, I really good at this. And also I love to traveling I really love it.</p>
                </div>
            </div>
        </div>
    </div>
</section>



{% endblock %}{% block Category %}{% endblock %}