{% extends 'base.html' %} {% load static %} {% block content %}
<div class="col-xl-8 px-md-5 py-5">
    <div class="row pt-md-4">
        {% for item in Blog_Posts %}
        <div class="col-md-12">
            <div class="blog-entry-2 ftco-animate">
                <a href="{% url 'FullArticle' item.id %}" class="img" style="background-image: url('{{item.Image.url}}');"></a>
                <div class="text pt-4">
                    <h3 class="mb-4"><a href="{% url 'FullArticle' item.id %}">{{ item.Title }}</a></h3>
                    <p class="mb-4">{{item.snippet}}</p>


                    <div class="author mb-4 d-flex align-items-center">
                        <a href="#" class="img" style="background-image: url('{{item.author.Image.url}}');"></a>
                        <div class="ml-3 info">
                            <span>Written by</span>
                            <h3><span>{{ item.author }}</span>, <span>{{ item.Date }}</span></h3>
                        </div>
                    </div>
                    <div class="meta-wrap d-md-flex align-items-center">
                        <div class="half order-md-last text-md-right">
                            <p class="meta">
                                <span><i class="icon-heart"></i>3</span>
                                <span><i class="icon-eye"></i>100</span>
                                <span><i class="icon-comment"></i>5</span>
                            </p>
                        </div>
                        <div class="half">
                            <p><a href="{% url 'FullArticle' item.id %}" class="btn btn-primary p-3 px-xl-4 py-xl-3">Continue Reading</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
    <!-- END-->



    <div class="row">
        <div class="col">

            <div class="block-27">

                {% if Blog_Posts.has_other_pages %}
                <ul>
                    {% if Blog_Posts.has_previous %}
                    <li><a href="?page={{ Blog_Posts.previous_page_number }}">&lt;</a></li>
                    {% else %}
                    <li class="disabled"><span>&lt;</span></li>
                    {% endif %} {% for i in Blog_Posts.paginator.page_range %} {% if Blog_Posts.number == i %}

                    <li class="active"><span>{{ i }}</span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %} {% endfor %} {% if Blog_Posts.has_next %}
                    <li><a href="?page={{ Blog_Posts.next_page_number }}">&gt;</a></li>
                    {% else %}
                    <li class="disabled"><span>&gt;</span></li> {% endif %}
                </ul>



                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="col-xl-4 sidebar ftco-animate bg-light pt-5">
    <div class="sidebar-box pt-md-4">
        <form action="#" class="search-form">
            <div class="form-group">
                <span class="icon icon-search"></span>
                <input type="text" class="form-control" placeholder="Type a keyword and hit enter">
            </div>
        </form>
    </div>
    <div class="sidebar-box ftco-animate">
        <h3 class="sidebar-heading">Categories</h3>
        <ul class="categories">
            <li><a href="#">Fashion <span>(6)</span></a></li>
            <li><a href="#">Technology <span>(8)</span></a></li>
            <li><a href="#">Travel <span>(2)</span></a></li>
            <li><a href="#">Food <span>(2)</span></a></li>
            <li><a href="#">Photography <span>(7)</span></a></li>
        </ul>
    </div>



</div>
{% endblock content %}