{% extends 'Base.html' %} {% load static %} {% block content %}


<head>
    <title>full</title>
    <link rel="stylesheet" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" href="{% static 'css/layout.css' %}">
    <link rel="stylesheet" href="{% static 'css/media-queries.css' %}">
</head>
<!-- Content
   ================================================== -->
<div class="content-outer">

    <div id="page-content" class="row">

        <div id="primary" class="eight columns">

            <article class="post">

                <div class="entry-header cf">

                    <h1>{% block title %} {{ post.title }} {% endblock title %}</h1>

                </div>

                <div class="post-thumb">
                    <img src="{{ post.image.url }}" alt="post-image" title="post-image">
                </div>

                <div class="post-content">
                    {{ post.body | safe }}

                </div>

            </article>
            <!-- post end -->

            <!-- Comments
          ================================================== -->
            <div id="comments">

                <h3>{{ comments.count }} Comments</h3>

                <!-- commentlist -->
                <ol class="commentlist">

                    <li class="depth-1">
                        {% for comment in comments %}
                        <div class="avatar">
                            <img width="50" height="50" class="avatar" src="images/user-01.png" alt="">
                        </div>

                        <div class="comment-info">
                            <cite>{{ comment.name }}</cite>

                            <div class="comment-meta">
                                <time class="comment-time" datetime="2014-01-14T23:05">{{ comment.created_on }}</time>
                                <span class="sep">/</span><a class="reply" href="#">Reply</a>
                            </div>
                        </div>

                        <div class="comment-text">
                            <p> {{ comment.body | linebreaks }} </p>
                        </div>
                        {% endfor %}
                    </li>



                </ol>
                <!-- Commentlist End -->


                <!-- respond -->
                <div class="respond">



                    <!--<div class="alert alert-success" role="alert">
                Your comment is awaiting moderation
              </div>-->


                    <h3>Leave a Comment</h3>

                    <!-- form -->
                    <form name="contactForm" id="contactForm" method="post" action="">
                        {% csrf_token %}
                        <fieldset>

                            <div class="cf">
                                <label for="cName">Name <span class="required">*</span></label> {{ comment_form.name }}
                            </div>

                            <div class="cf">
                                <label for="cEmail">Email <span class="required">*</span></label> {{ comment_form.email }}
                            </div>

                            <div class="message cf">
                                <label for="cMessage">Message <span class="required">*</span></label> {{ comment_form.body }}
                            </div>

                            <button type="submit" class="submit">Submit</button>

                        </fieldset>
                    </form>
                    <!-- Form End -->

                </div>
                <!-- Respond End -->

            </div>
            <!-- Comments End -->

        </div>

        <div id="secondary" class="four columns end">

            <aside id="sidebar">


                <div class="widget widget_text">
                    <h5 class="widget-title">Text Widget</h5>
                    <div class="textwidget">Proin gravida nibh vel velit auctor aliquet. Aenean sollicitudin, lorem quis bibendum auctor, nisi elit consequat ipsum, nec sagittis sem nibh id elit. Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. Morbi accumsan
                        ipsum velit. </div>
                </div>

                <div class="widget widget_categories">
                    <h5 class="widget-title">Categories</h5>
                    <ul class="link-list cf">
                        <li><a href="#">Designs</a></li>
                        <li><a href="#">Internet</a></li>
                        <li><a href="#">Typography</a></li>
                        <li><a href="#">Photography</a></li>
                        <li><a href="#">Web Development</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="#">Other Stuff</a></li>
                    </ul>
                </div>

                <div class="widget widget_tag_cloud">
                    <h5 class="widget-title">Tags</h5>
                    <div class="tagcloud cf">
                        <a href="#">drupal</a>
                        <a href="#">joomla</a>
                        <a href="#">ghost</a>
                        <a href="#">wordpress</a>
                    </div>
                </div>


            </aside>
            <!-- Sidebar End -->

        </div>
        <!-- Comments End -->

    </div>

</div>
<!-- Content End-->


{% endblock content %}