{% extends 'base_layout.html' %}
{% load static %}

{% block content %}
<br><br><br><br>
<img src="{{ user.image.url }}" /><br><br>
    Username: &nbsp;{{ user.username }}<br><br>
    Full Name:&nbsp; {{ user.Full_Name }}<br><br>
    Email Address:&nbsp; {{ user.email }}<br><br>
    Age: &nbsp;{{ user.Age }}<br><br>
    Occupation: &nbsp;{{ user.Occupation }}<br><br>
    
    <button><a href="/accounts/change_password/">Change Password </a></button><br><br><br><br>

    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Title</th>
            <th scope="col">Slug</th>
            <th scope="col">Category</th>
            <th scope="col">Author</th>
            <th scope="col">Update</th>
          </tr>
        </thead>
        <tbody>
            {% for post in posts %}
          <tr>
            <td>{{ post.title }}</td>
            <td>{{ post.slug }}</td>
            <td>{{ post.category }}</td>
            <td>{{ post.author }}</td>
            <td><button ><a href="/articles/aa/{{ post.slug }}">edit </a></button></td>
          </tr>
        </tbody>
        {% endfor %}
      </table>

     
      

    {% endblock %}
